/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-style: italic;
  font-size: 20px;
}

body {
  background-color: rgb(195, 210, 211);
}

footer div {
  background-color: rgba(155, 38, 38, 0.8784313725);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  column-gap: 20px;
}

/* Hedear */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding: 10px;
  background-color: rgba(155, 38, 38, 0.8784313725);
}
header img {
  width: 150px;
}
header nav ul {
  display: flex;
  display: inline-block;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
header nav ul li a:hover {
  color: rgb(219, 214, 214);
  text-shadow: 5px 5px 10px white;
  cursor: pointer;
}

/* Index */
.slide {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.438);
}

.d-block {
  width: 100%;
  display: flex;
  border-radius: 20px 0;
}

.texto-img {
  text-align: center;
}

/* Nosotros */
.imagen-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.438);
}

.imagen-nosotros {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.texto-nosotros {
  font-size: 15px;
  width: 95%;
  display: flex;
  text-align: center;
}

/* Productos */
.main-productos section {
  gap: 20px;
  margin-top: 30px;
  border: 0;
}
.main-productos section .card-body {
  gap: 10px;
  margin-top: 20px;
  border: 100;
  background-color: rgb(168, 172, 164);
}
.main-productos section .btn {
  background-color: rgba(155, 38, 38, 0.8784313725);
  color: black;
  border: 2px solid transparent;
}
.main-productos section .card-img-top:hover {
  transform: scale(0.8);
}

/* Promociones */
.texto-promociones {
  width: 50;
  height: 50;
}

.card-img-top {
  display: flex;
  width: 30;
  height: 40;
}

/* Contacto */
main h1 {
  font-size: 20px;
  text-align: center;
}

.formulario-contacto {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.438);
  border-radius: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

label {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
  flex-direction: column;
  text-align: center;
}

input, textarea {
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 10%;
  background-color: rgb(155, 155, 155);
  border: 2px solid rgba(255, 0, 0, 0.438);
  outline: none;
}

/* Footer */
footer div img {
  width: 30px;
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  /*Header*/
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
  }
  header img {
    width: 150px;
  }
  header nav ul li {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 0% 10px;
  }
  /*Carousel Index*/
  .slide {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .d-block {
    width: 100%;
    display: flex;
    border-radius: 20px 0;
  }
  /* Nosotros*/
  .contenedor-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-nosotros {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .texto-nosotros {
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
  }
  /*Formulario de contacto*/
  .formulario-contacto {
    padding: 0px 5px;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.438);
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
  }
  input, textarea {
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10%;
    background-color: rgb(155, 155, 155);
    border: 2px solid rgba(255, 0, 0, 0.438);
    outline: none;
  }
}

/*# sourceMappingURL=main.css.map */
