/* Nosotros */

.imagen-nosoros {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 0;
}

.texto-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
