/* Productos */
.main-productos section {
    gap: 20px;
    margin-top: 30px;
    border: 0;
    .card-body {
    gap: map-get($cards, card-gap);
    margin-top: map-get($cards, card-margin-top);
    border: map-get($cards, card-border);
    background-color: rgb(168, 172, 164);
}
.btn {
    background-color: $color-hedear-footer-btn;
    color: black;
    border: 2px solid transparent;
}
.card-img-top:hover{
    transform: scale(.8);
}
}
