@mixin flex($flex-direction, $aling-items, $justify-content, $padding){
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}